
<nav class="nav-var">
   <div class="logo">
   </div>
   <div></div>
   <div class="search">
      <div class="input-group mb-3 ">
        <span class="search-icon input-group-text"></span>
         <input type="text" class="form-control " placeholder="Search" aria-label="Example text with button addon" aria-describedby="button-addon1" style="border-left: none; height: 2.5rem; margin-top: 0.4rem;">
       </div>
   </div>
   <div>

   </div>
   <div class="icons">
      <div class="car-icon">
      </div>
      <div class="dowland-icon" routerLink="/login"  ></div>
      <div class="avatar-icon" (click)="navigateToLogin()"></div>
   </div>
</nav>
<div class="cartel">
   <div class="cartel-header">
      <div class="left">
         <button type="button" class="btn btn-primary">Catalogos</button>
         <button type="button" class="btn btn-primary">Noticias</button>
      </div>
      <div class="center">
         <button type="button" class="btn btn-primary">Mi Biblioteca</button>
      </div>
      <div class="right">
         <button type="button" class="btn btn-primary">Contactanos</button>
         <button type="button" class="btn btn-primary">Sobre Nosotros</button>
      </div>
     
   </div>
  
</div>
<div class="cartel-body">
   <div class="leterero">
      <h1>Feria Digital Vigia</h1>
   </div>
</div>
<div class="libros-list">
   <div class="card" (click)="navigatepre()">
      <div class="image-card img-card-top"></div>
      <div class="card-body">
         <Label class="card-tittle"> 120$</Label>
         <div class="hr"></div>
         <button type="button" class="btn btn-primary">Sobre...</button>
      </div>
      
   </div>
   <div class="card">
      <div class="image-card1 img-card-top"></div>
      <div class="card-body">
         <Label class="card-tittle"> 1000$</Label>
         <div class="hr"></div>
         <button type="button" class="btn btn-primary">Sobre...</button>
      </div>
   </div>
   <div class="card">
      <div class="image-card2 img-card-top2"></div>
      <div class="card-body">
         <Label class="card-tittle"> 870$</Label>
         <div class="hr"></div>
         <button type="button" class="btn btn-primary">Sobre...</button>
      </div>
   </div>
   <div class="card">
      <div class="image-card3 img-card-top3"></div>
      <div class="card-body">
         <Label class="card-tittle"> 550$</Label>
         <div class="hr"></div>
         <button type="button" class="btn btn-primary">Sobre...</button>
      </div>
   </div>
   <div class="card">
      <div class="image-card4 img-card-top4"></div>
      <div class="card-body">
         <Label class="card-tittle"> 400$</Label>
         <div class="hr"></div>
         <button type="button" class="btn btn-primary">Sobre...</button>
      </div>
   </div>
   <div class="card">
      <div class="image-card5 img-card-top5"></div>
      <div class="card-body">
         <Label class="card-tittle"> 70$</Label>
         <div class="hr"></div>
         <button type="button" class="btn btn-primary">Sobre...</button>
      </div>
   </div>
   <div class="card">
      <div class="image-card6 img-card-top6"></div>
      <div class="card-body">
         <Label class="card-tittle"> 20$</Label>
         <div class="hr"></div>
         <button type="button" class="btn btn-primary">Sobre...</button>
      </div>
   </div>
</div>
<div class="oferta-especial">
   <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
   
      <div class="carousel-inner card">
        <div class="carousel-item active">
            <div class="ofertaespecial-1">
               <div>
                  <h2 class="tilte" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                     Libro de la semana oferta especial
                  </h2>
                  <label class="art-body">
                     El Principito es considerado uno de los mejores libros de todos los tiempos, gracias a su mensaje reflexivo sobre la vida, la sociedad y el amor, presentado de manera sencilla y directa. Aunque inicialmente dirigido a niños, su profundidad y universalidad lo hacen relevante para todas las edades.
                  </label>
                  
               </div>
               <div class="oferta-especial-right">
                  <div >
                     <img src="http://localhost:4200/media/WhatsApp%20Image%202024-06-07%20at%202.58.34%20PM.jpeg" class="ofertaespecial-1-img">
                  </div>
               </div>
              
            </div>
        </div>
        <div class="carousel-item ">
          
        </div>
        <div class="carousel-item">
          
        </div>
      </div>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" id="butonnext">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
<div class="footer-card">
   <div class="social-icons">
     <a href="#" class="social-icon facebook-icon">
      <img src="http://localhost:4200/media/facebook-svgrepo-com.svg" width="40px">
     </a>
     <a href="#" class="social-icon twiter-icon">
       <img src="http://localhost:4200/media/twitter-round-svgrepo-com.svg" width="34px">
     </a>
     <a href="#" class="social-icon instagram-icon">
       <img src="http://localhost:4200/media/instagram-round-svgrepo-com%20(1).svg" width="34px">
     </a>
     <a href="#" class="social-icon telegram-icon">
      <img src="http://localhost:4200/media/telegram-svgrepo-com.svg" width="34px">
    </a>
    <a href="#" class="social-icon whatsapp-icon">
      <img src="http://localhost:4200/media/whatsapp-whats-app-svgrepo-com.svg" width="34px">
    </a>
   </div>
 </div>


 

 
